header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  width: 100%;
  box-sizing: border-box;

  .company-name {
    a {
      font-weight: bold;
      color: #e9b578;
      text-decoration: none;
      font-size: 30px;

      &:hover {
        color: #f1f1f1;
      }
    }
  }

  .nav {
    display: flex;
    gap: 20px;

    a {
      color: white;
      text-decoration: none;
      font-size: 17px;

      &:hover {
        color: #e9b578;
        font-weight: bolder;
      }
    }
  }
  .hamburger {
    display: none;
    font-size: 24px;
    color: #e9b578;
    cursor: pointer;
  }
}

@media (max-width: 425px) {
  .header {
    position: relative;

    .nav {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #333;
      flex-direction: column;
      width: 100px;
      text-align: center;
      padding: 0;

      a {
        padding: 1px 1px;
        font-size: 14px;
        border-bottom: 1px solid #444;
      }
    }

    .nav.open {
      display: flex;
    }

    .hamburger {
      display: block;
    }
  }
}
