.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid darkgreen;
  padding: 20px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 0 10px;
}
