h1 {
  text-align: center;
  text-align: center;
  font-size: 48px;
  color: #e9b578;
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-family: sans-serif;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid darkgreen;
  padding: 20px;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 0 10px;
}
