@use "./navigation/footer";
@use "./navigation/header";
@use "./pages/about-page";
@use "./pages/cart-page";
@use "./pages/contact-page";
@use "./pages/home-page";
@use "./pages/single-product-page";
@use "./pages/productspage";

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;
}
